
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #e3f2fd;
    background-image: url('Images/bg.jpg');
    background-size: cover;
}
div {
    max-width: 800px;
    background: white;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
h1, h2 {
    color: #1565c0;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
.header {
    display: flex;
    align-items: center;
}
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #3d4141;
    margin-right: 20px;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.university-logo {
    width: 100px; /* Sesuaikan ukuran logo */
    height: auto;
    margin-left: 10px; /* Jarak antara nama dan logo */
    vertical-align: middle; /* Pastikan logo sejajar dengan teks */
    border: none;
}

.kontak {
    display: grid;
    grid-template-columns: auto 1fr; 
    gap: 10px 15px; 
    align-items: center; 
}

.icon {
    width: 24px; 
    height: 24px;
    border: none; 
}

a {
    text-decoration: none; 
    color: inherit; 
}
